<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>
    <p>
    What is this place? What does Splurty mean? What the hell is a unicorn?
  </p>
  <br />
  <p>
    <a target="_blank" href="http://github.com/priceat">Tate Price</a> does not know. Tate Price does not care. Rather, he wants to create a place for you to find inspirational quotes and save them... for those rainy days!
  </p>
  <p>
    Get tagging, friendo.
  </p>

    <div class="col-xs-12 col-sm-4">
    <%= image_tag 'voltron.jpg', :class => 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Tate Price aka Tatetron</h2>
    <br />
    <p>
      Tate Price is just like you.... Except not. He is more like water. Responsive, agile and flexible. Long ago he learned there is very little difference between salaried work and indentured slavery. He resolved to change himself. Adding skills, experiences and abilities. Like Voltron. Soon he will be fully transformed... and ready to do battle. 
    </p>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />